@page "/"
@page "/mantenimiento"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore;

<PageTitle>Mantenimiento</PageTitle>

<h1>mantenimiento de detenciones</h1>


@if (modo == Modo.Lista)
{
<h3>Listado de Detenciones</h3>
<div><button class =" btn btn-primary" @onclick="()=>modo = Modo.Editar">Agregar</button></div>
<table class="table">
    <thead>
        <tr>
            <th>Fecha de detencion:</th>
            <th>Nombre:</th> 
            <th>Apellido:</th>  
            <th>Coordenadas:</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var detencion in detenciones)
        {
        <tr>
            <td>@detencion.FechaDetencion</td>
            <td>@detencion.Nombre @detencion.Apellido</td>
            <td>@detencion.Coordenadas()</td>
        </tr>
        }
    </tbody>
</table>

}else if (modo == Modo.Editar)
{
<p>Editar registros</p>

<EditForm model="@NuevaDetencion" OnInvalidSubmit="GuardarDetencion">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

<div class ="form-group mb-3">
    <label for="FechaDetencion">Fecha de la detencion:</label>
    <InputDate Id="FechaDetencion" class="form-control" @bind-Value="NuevaDetencion.FechaDetencion" />
    <ValidationMessage For="@(()=> NuevaDetencion.FechaDetencion)"/>
</div>

<div class ="form-group mb-3">
    <label for="Nombre">Nombre:</label>
    <InputText Id="Nombre" class="form-control" @bind-Value="NuevaDetencion.Nombre" />
</div>

<div class="form-group mb-3">
    <label for="Apellido">Apellido:</label>
    <InputText Id="Pais" class="form-control" @bind-Value="NuevaDetencion.Apellido" />
</div>

<div class ="form-group mb-3">
    <label for="Latitud">Latitud:</label>
    <InputNumber Id="Latitud" class="form-control" @bind-Value="NuevaDetencion.Latitud" />
    <ValidationMessage For="@(()=>NuevaDetencion.Latitud)"/>
</div>

<div class ="form-group mb-3">
    <label for="Longitud">Longitud:</label>
    <InputNumber Id="Longitud" class="form-control" @bind-Value="NuevaDetencion.Longitud" />
    <ValidationMessage For="@(()=>NuevaDetencion.Longitud)"/>
</div>

<button type="submit" class="btn btn-success">Guardar</button>

</EditForm>
}

@code{

    enum Modo
    {
        Lista,
        Editar  
    }
    Modo modo = Modo.Lista;

    List<Detencion> detenciones = new List<Detencion>();

        Detencion NuevaDetencion = new Detencion();

        void GuardarDetencion ()
        {
            detenciones.Add(NuevaDetencion);
            NuevaDetencion = new Detencion();
            modo = Modo.Lista;
        }
}